*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt';
}

.container{
    width: 100%;
    height: 100vh;
    background: url(contact1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    background:#1a0a00;/* will change later if I have to */
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

form h3 {
    color:#fcf0c8; /* some colour for now   #47362b;*/
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

form input, form textarea{
    border:0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #ffefd8;
    font-size: 20px;
    color: #47362b;

}

form button {
    padding: 15px;
    background-color: #ffefd8;
    color: #47362b;
    font-size: 24px;
    border: 0px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
    font-family: 'Satisfy';
    
    
}